<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMM-yy HH:mm:ss,SSS}|%5p|%-20c{0}|%-20.-20t|%m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/JMSDemoServices.log</File>
        <encoder>
            <pattern>%d{dd-MMM-yy HH:mm:ss,SSS }|%-5.5p|%-33.33c|%-17.27t|%m%n</pattern>
        </encoder>
    </appender>

    <logger name="jms_demo_services" level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEOUT" />
    </logger>

</configuration>
